
// VAR 
@black: #000000;
@white: #ffffff;
@lightGrey: #cccccc;
@grey: #72706f;
@darkGrey: #333333;
@orange: #f58502;

@fullWidth: 100%;
@contentBox: 90%;

.display(@display: block){
  display: @display;
}
.position(@position: relative){
  position: @position;
}
.float(@float: left){
  float: @float;
}
.margin(@margin: 0 auto){
  margin: @margin;
}
.padding(@padding: 0){
  padding: @padding;
}
// end of @ mix ins

// @font-face {
//   font-family: 'AbelRegular';
//   src: url('../fonts/Abel-Regular.ttf');
// }
// end of fonts


// Main LESS
body{
	.margin();
	.padding();
	background-image: url(../../images/background.png);
	background-repeat: repeat;
	a{
		color: @black;
		text-decoration: none;
		transition: 1s;
		cursor: pointer;

		&:hover{
			color: @orange;
			transition: 1s;
		}
	}
	.wrapper{
		width: @fullWidth;
		overflow: hidden;
		.margin();
		.padding();
		.display();

		.site-header{
			width: @contentBox;
			.margin();
			.padding();
			.display();

			.header_logo{
				width: 30%;
				height: 10em;
				.margin(0);
				.padding(1em 0);
				.display(table);

				.logo{
					width: @fullWidth;
					vertical-align: middle;
					.display(table-cell);

					img{
						width: 100%;
						height: auto;
						.display();
						.margin();
						.padding();
					}
				}
			}
		}
		//end of .site-header

		.navigation-box{
			width: @fullWidth;
			height: 5em;
			background-color: @black;
			border-top: solid 2px @darkGrey;
			border-bottom: solid 2px @darkGrey;
			.display();
			.margin(0);
			.padding(0);

			nav{

				#header-menu{
					list-style:none;
					position:relative;
					float:left;
					margin:0;
					padding:0;

					a{
						color: @lightGrey;
						text-transform: uppercase;
						text-decoration: none !important;
						.display();
						.padding(1.8em .6em);

						&:hover{
							color: @darkGrey;
						}
						
					}

					li{
						position:relative;
						float:left;
						margin:0;
						padding:0;
						transition: 1s;
						&:hover{
							background-color: @orange;
							transition: 1s;
						}
					}

					ul{
						display:none;
						position:absolute;
						top:100%;
						left:0;
						background-color: @black;
						padding:0;

						li{
							float:none;
							min-width: 20em;
						}

						a{
							padding:1.5em 1em;
						}

						ul{
							top:0;
							left:100%;
						}
					}

					li{
						&:hover > ul{
							display: block;
						}
					}
				}
				
			}
		}// end of .navigation-box

		.site-content{
			width: @fullWidth;
			.margin();
			.padding();
			.display();
		}
		//end of .site-content

		.footer{
			width: @contentBox;
			height: 5em;
			text-align: center;
			.margin();
			.padding();
			.display();
		}
		//end of .footer
	}
	// end of wrapper
}