body{
	margin: 0;
	padding: 0;
	.wrapper{
		width: 100%;
		overflow: hidden;
		margin: 0;
		padding: 0;
		.site-header{
			width: 90%;
			height: 10em;
			display: block;
			margin: 0 auto;
		}
		//end of .site-header

		.site-content{
			width: 90%;
			margin: 0 auto;
			padding: 0;
			display: block;
		}
		//end of .site-content

		.footer{
			width: 90%;
			height: 5em;
			display: block;
			margin: 0 auto;
			padding: 0;
			text-align: center;
		}
		//end of .footer
	}
	// end of wrapper
}